.btn-ajouter {
    background-color: rgb(117, 168, 235);
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;

    overflow-y: hidden;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#register, #login {
    margin-right: 20px;
}

#connection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.myForm {

    background-color: whitesmoke;

    padding: 20px;

    width: 500px;

    border-radius: 5px;
    position: absolute;

    left: 50%;
    transform: translate(-50%, -50%);

    top: 50%;

    z-index: 100;


    display: none;
}

#log {
    position:fixed;
    width: 100%;
    z-index: 200;
}

a {
    color: #fff;
}

#container {
    display: flex;
    height: calc(100% - 56px);
}

#content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px;

    width: 100%;

    overflow-y: scroll;
}

#menu {
    width: 280px;
    height: 100%;

    border-radius: 0;

    background-color: rgb(236, 236, 236);

    overflow-y: scroll;
}

#menu a {
    margin-top: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 4px;
}

ul {
    list-style-type: none;

    width: 100%;
}


.tache {
    border-radius: 5px;
    border: #dfdfdf solid 1px;
    padding: 10px;
    margin-bottom: 10px;

    width: 100%;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.done {
    background-color: rgb(238, 238, 238);
    color: rgb(200, 200, 200);
    text-decoration: line-through;
}

#form-connection {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;


    z-index: 10;

    display: none;
}

.myForm form div {
    margin-bottom: 30px;
}